<center><h1>Собери свой носочек!</h1></center>
<div class="contant">
<div><img src="/img/socksMaket.png" width="520px" height="550px"></div>
<div class="construktor">
  <div>
   <select class="form-select form-select-sm" aria-label=".form-select-sm example">
  <option selected>Придай своему носочку цвет</option>
  {{#each colors}}
  <option value="{{id}}">{{this.name}}</option>
  {{/each}}
  
</select>
  <div><h5>Накинь затейливый узор</h5></div>
  <div><h5>Пришпондорь умопомрочительную картинку</h5></div>
  <div><button>кнопка1</button>
  <button>кнопка2</button></div>
</div>
</div>
