<div>
<div class="textHome"><h1>Привет, юзер</h1>
<h4>Наша фирма занимается изготовлением и продажей кастомных носков.
  На нашем сайте ты сможешь создать своий собственный дизайн носочков и заказать их.
  Так же ты сможешь подулиться своим уникальным дизайном с друзьями!
  <p>Все это доступно по простому нажатию кнопки.</p>
</h4></div>
<div class="d-grid gap-2 col-6 mx-auto">
  <a href="/generator"><button class="btn myPrimary" type="button">Конструктор носочков</button></a>
</div>
<div id="sockContainer">
  <img src="/img/sock1.jpeg" width="350" height="390">
  <img src="/img/sock2.jpg" width="350" height="390">
  <img src="/img/sock3.jpg" width="350" height="390">
</div>
</div>
