.construktor{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}
.contant{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  flex-wrap: nowrap;
  margin-top: 35px;
}
#pictureOnSock1{
  width: 75px;
  height: 85px;
  position: absolute;
  top: 265px;
  left: 408px;
  background-size: cover;
}
#pictureOnSock2{
  width: 75px;
  height: 85px;
  position: absolute;
  top: 335px;
  left: 254px;
  background-size: cover;
}
.addBtn{
margin-top: 10px;
}
#mr{
  margin-right: 10px;
}
#ornamentOnSock1 {
  width: 77px;
  height: 99px;
  position: absolute;
  top: 520px;
  left: 305px;
  background-size: contain;
  transform: rotate(45deg);
}

#ornamentOnSock2 {
  width: 77px;
  height: 99px;
  position: absolute;
  top: 454px;
  left: 456px;
  background-size: contain;
  transform: rotate(45deg);
}
