.construktor{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}
.contant{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  flex-wrap: nowrap;
  margin-top: 35px;
}
#pictureOnSock1{
  width: 75px;
    height: 85px;
    position: absolute;
    top: 265px;
    left: 382px;
    background-size: cover;
}
#pictureOnSock2{
  width: 75px;
    height: 85px;
    position: absolute;
    top: 335px;
    left: 230px;
    background-size: contain;
}
.addBtn{
margin-top: 10px;
}
#mr{
  margin-right: 10px;
}
